body {
  background-color: rgb(21, 115, 122);
  font-size: 34px;
  color: aliceblue;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


thead {
  font-size: 400px;
}
td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #43bd88;
}